#planChooserOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 48px 0;
    overflow: auto;
    z-index: 1000;
    background-color: var(--teflon-70pc);
}

#miniFAQ section:nth-child(n+2) {
    margin-top: 24px;
}

#miniFAQ h3 {
    position: relative;
    margin-bottom: 6px;
    text-align: left;
    line-height: 21px;
    font-size: 16px;
    font-weight: 500;
    color: var(--teflon);
}

#miniFAQ p {
    line-height: 19px;
    font-size: 16px;
    color: var(--gandalf);
}

#miniFAQ p:not(:last-child) {
    margin-bottom: 19px;
}

#miniFAQ a {
    font-weight: 500;
    color: var(--cornflower-blue);
}

#groupCaption .organizationCaption {
    width: 238px;
}

#groupCaption .organizationCaption p {
    margin-bottom: 24px;
}

#friendlyReminderDialog {
    width: 600px;
    padding-top: 48px;
    border-radius: 4px;
    color: var(--teflon);
}

#friendlyReminderDialog h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 21px;
    font-size: 18px;
}

#friendlyReminderDialog h1 img {
    width: 20px;
    height: 20px;
    margin: 0 0 0 6px;
}

#friendlyReminderDialog .friendlyReminderDialogBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 0 24px;
}

#friendlyReminderDialog .friendlyReminderDialogBody p {
    padding: 0 24px;
    line-height: 18px;
    font-size: 15px;
    text-align: center;
}

#friendlyReminderDialog .friendlyReminderDialogBody img {
    margin: 24px 0;
}

#friendlyReminderDialog .friendlyReminderDialogFooter {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#planChooserContent {
    width: 954px;
    margin: 0 auto;
    border-radius: 4px;
    margin-bottom: 48px;
    overflow: hidden;
}

#planChooserContent .testimonial {
    padding: 48px 48px 36px;
    display: flex;
    background-color: var(--whitey);
}

#planChooserContent .testimonial img {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    margin-right: 24px;
}

#planChooserContent .testimonial > div {
    flex: 1;
}

#planChooserContent .testimonial blockquote {
    margin-bottom: 12px;
    line-height: 29px;
    font-size: 25px;
    font-style: italic;
    color: var(--teflon);
}

#planChooserContent .testimonial .author {
    line-height: 19px;
    font-size: 16px;
    font-weight: 500;
    color: var(--teflon);
}

#planChooserContent .testimonial .titleTeamCompany {
    line-height: 19px;
    font-size: 16px;
    color: var(--teflon);
}

#planChooserContent .testimonial .titleTeamCompany .company {
    font-weight: 500;
    color: #007042;
}

#planChooserContent .warning {
    background-color: var(--cornflower-blue);
    padding: 12px 24px;
    display: none;
}

#planChooserContent .warning p {
    line-height: 21px;
    font-size: 18px;
    color: #fff;
}

#planChooserContent .warning p:not(:last-child) {
    margin-bottom: 21px;
}

#planChooserContent .warning a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

#planChooserContent[data-current-plan-id="starter_monthly"] .warning.starterAndGB,
#planChooserContent[data-current-plan-id="starter_annual"] .warning.starterAndGB,
#planChooserContent[data-current-plan-id="growing_monthly"] .warning.starterAndGB,
#planChooserContent[data-current-plan-id="growing_annual"] .warning.starterAndGB,
#planChooserContent[data-current-plan-id="company_monthly"] .warning.company,
#planChooserContent[data-current-plan-id="company_annual"] .warning.company,
#planChooserContent[data-current-plan-id="bff"] .warning.bff {
    display: block;
}

#planChooserContent[data-current-plan-id="starter_monthly"] .oldPlanName::before,
#planChooserContent[data-current-plan-id="starter_annual"] .oldPlanName::before {
    content: "STARTER";
}

#planChooserContent[data-current-plan-id="growing_monthly"] .oldPlanName::before,
#planChooserContent[data-current-plan-id="growing_annual"] .oldPlanName::before {
    content: "GROWING BUSINESS";
}

#planChooser {
    position: relative;
    padding: 24px 72px 48px;
    background-color: #fff;
}

#planChooser h2 {
    text-align: center;
    line-height: 28px;
    font-size: 24px;
    font-weight: 300;
    color: var(--teflon);
}

.paymentInfo {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

#planChooser .paymentPeriods {
    position: relative;
    display: flex;
}

#planChooser .paymentPeriodSlider {
    position: absolute;
    left: 0;
    top: 0;
    padding: 8px 24px;
    height: 44px;
    width: 113px;
    background-color: var(--cornflower-blue-20pc);
    border-radius: 29px;
    text-align: center;
    line-height: 28px;
    font-size: 24px;
    transition: transform 150ms ease-out;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#planChooser .paymentPeriods .paymentPeriodSlider span {
    position: absolute;
    left: 50%;
    color: transparent;
    transform: translateX(-50%);
    transition: color 150ms ease-out;
}

#planChooser .paymentPeriods .monthly {
    width: 87px;
}

#monthlyPayment:checked ~ .paymentPeriodSlider .monthly,
#annualPayment:checked ~ .paymentPeriodSlider .annual {
    color: var(--cornflower-blue);
}

#monthlyPayment:checked ~ .paymentPeriodSlider {
    transform: translateX(-13px);
}

#annualPayment:checked ~ .paymentPeriodSlider {
    transform: translateX(134px);
}

#planChooser .paymentPeriods input[type="radio"] {
    display: none;
}

#planChooser .paymentPeriods label {
    position: relative;
    display: inline-block;
    text-align: center;
    line-height: 44px;
    font-size: 24px;
    color: var(--teflon);
    transition: color 150ms ease-out;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#planChooser .paymentPeriods label.annual {
    margin-left: 72px;
    width: 64px;
}

#planChooser .paymentPeriods input:checked + label {
    color: transparent;
}

#couponWrapper {
    height: 24px;
}

.couponInfo {
    position: absolute;
    right: 48px;
    display: flex;
    align-items: center;
    height: 44px;
}

#couponForm {
    margin: 0;
}

.couponArea {
    display: flex;
    align-items: center;
    position: relative;
    height: 24px;
    padding: 0 3px 0 8px;
    max-width: 180px;
}

#couponCode {
    flex: 1;
    min-width: 0;
    height: 16px;
    background-image: none;
    border: none;
    line-height: 16px;
    font-size: 14px;
    color: var(--teflon);
    background-color: transparent;
}

#couponCode:not(:focus) {
    cursor: pointer;
}

.couponPlaceholder {
    position: absolute;
    top: 3px;
    left: 5px;
    line-height: 18px;
    font-size: 15px;
    color: var(--teflon);
    pointer-events: none;
}

.couponArea.typed .couponPlaceholder,
#couponCode:focus ~ .couponPlaceholder {
    display: none;
}

#couponWrapper.applied {
    background-color: var(--whitey);
}

#couponWrapper.applied #couponCode {
    opacity: 0.5;
    color: var(--gandalf);
}

.couponArea.focus {
    width: 180px;
    background-color: var(--cornflower-blue-15pc);
    padding: 3px 3px 3px 8px;
    border-radius: 2px;
    height: 24px;
}

.couponLabel {
    position: absolute;
    left: 0;
    top: -22px;
    opacity: 0;
    font-size: 14px;
    line-height: 16px;
    color: var(--gandalf);
    transform-origin: left top;
    transition: opacity 200ms ease;
    will-change: opacity;
    pointer-events: none;
}

#couponCode:focus ~ .couponLabel {
    opacity: 1;
}

#applyCouponButton {
    display: none;
    width: initial;
    height: initial;
    margin: initial;
    padding: 0 6px;
    border-radius: 40px;
    background-color: var(--cornflower-blue);
    line-height: 18px;
    font-size: 12px;
    color: #fff;
}

#applyCouponButton:disabled {
    opacity: 0.6;
    background-color: var(--cornflower-blue);
}

#applyCouponButton:enabled .disabled,
#applyCouponButton:disabled .enabled {
    display: none;
}

.couponArea.typed #applyCouponButton {
    display: block;
}

#discountNotice {
    position: absolute;
    left: 0;
    top: 38px;
    font-size: 12px;
    color: var(--cornflower-blue);
}

#groupCaption .organizationCaption p.hide {
    visibility: hidden;
}

#groupCaption {
    display: flex;
    justify-content: space-between;
    padding: 0;
    font-size: 16px;
    line-height: 19px;
    color: var(--teflon);
    margin-top: 24px;
}

#groupCaption .caption {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#groupCaption li {
    display: flex;
    text-align: left;
    list-style: none;
    font-size: 16px;
    line-height: 19px;
    color: var(--teflon);
}

#groupCaption li:not(:last-child) {
    padding-bottom: 6px;
    border-bottom: 1px solid var(--karl);
    margin-bottom: 6px;
}

#featureCardGallery {
    width: 100%;
    max-width: 1024px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 24px;
    margin: 99px auto 72px;
}

#featureCardGallery > :first-child {
    grid-row: 1 / 3;
}

#featureCardGallery .infoCard .featureList .featureElement {
    width: 100%;
}

#featureCardGallery .infoCard .featureList .featureElement:not(:first-child) {
    padding-top: 12px;
    margin-top: 12px;
    border-top: 1px solid var(--clooney);
}

#featureCardGallery .infoCard .cardAction .button {
    height: 40px;
    font-size: 18px;
    width: 135px;
}

#featureCardGallery .infoCard .cardAction.featureLink {
    height: 40px;
    font-size: 18px;
    background-color: var(--cornflower-blue);
    border-radius: 2px;
}

#featureCardGallery .infoCard .cardAction a {
    color: var(--cornflower-blue);
}

#featureCardGallery .infoCard .cardAction.featureLink a {
    display: block;
    font-weight: 500;
    color: #fff;
    line-height: 40px;
    padding: 0 24px;
}

#featureCardGallery .infoCard .featureList {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
}

#featureCardGallery .infoCard .featureCardDescription {
    line-height: 19px;
}

#featureCardGallery .infoCard .featureCardDescription span {
    font-weight: 500;
    display: inline;
}
