
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font: 112.5%/1.45em georgia, serif, sans-serif;
  box-sizing: border-box;
  overflow-y: scroll;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: hsla(0, 0%, 0%, 0.8);
  font-family: "Poppins", georgia, serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 2.25rem;
  line-height: 1.1;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: "Poppins", monospace;
  font-size: 1em;
}
figure {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
hr {
  box-sizing: content-box;
  overflow: visible;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: calc(1.45rem - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: 700;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid silver;
  padding: 0.35em 0.625em 0.75em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
h2 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.62671rem;
  line-height: 1.1;
}
h3 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.38316rem;
  line-height: 1.1;
}
h4 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.1;
}
h5 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.85028rem;
  line-height: 1.1;
}
h6 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.78405rem;
  line-height: 1.1;
}
hgroup {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
ul {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
ol {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
dl {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
dd {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 1.45rem;
  font-size: 0.85rem;
  line-height: 1.42;
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  overflow: auto;
  word-wrap: normal;
  padding: 1.45rem;
}
table {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-size: 1rem;
  line-height: 1.45rem;
  border-collapse: collapse;
  width: 100%;
}
blockquote {
  margin-left: 1.45rem;
  margin-right: 1.45rem;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
form {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
noscript {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
iframe {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
address {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
b {
  font-weight: bold;
}
strong {
  font-weight: bold;
}
dt {
  font-weight: bold;
}
th {
  font-weight: bold;
}
li {
  margin-bottom: calc(1.45rem / 2);
}
ol li {
  padding-left: 0;
}
ul li {
  padding-left: 0;
}
li > ol {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
li > ul {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
blockquote *:last-child {
  margin-bottom: 0;
}
li *:last-child {
  margin-bottom: 0;
}
p *:last-child {
  margin-bottom: 0;
}
li > p {
  margin-bottom: calc(1.45rem / 2);
}
code {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
kbd {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
samp {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
thead {
  text-align: left;
}
td,
th {
  text-align: left;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);
  font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
   padding-left: 0.96667rem; 
  padding-right: 0.96667rem;
  padding-top: 0.725rem;
  padding-bottom: calc(0.725rem - 1px);
}
th:first-child,
td:first-child {
  padding-left: 0;
}
th:last-child,
td:last-child {
  padding-right: 0;
}
tt,
code {
  background-color: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  font-family: "SFMono-Regular", Consolas, "Roboto Mono", "Droid Sans Mono",
    "Liberation Mono", Menlo, Courier, monospace;
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
pre code {
  background: none;
  line-height: 1.42;
}
code:before,
code:after,
tt:before,
tt:after {
  letter-spacing: -0.2em;
  content: " ";
}
pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: "";
}
@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}
.backgroundfix{
  background-image: linear-gradient(295deg, #ecf3fc 99%, #e5f9f8 46%, #fefaff 2%);
}
.homesection{
   width: 100%;
   overflow:hidden;
    display: flex; 
   padding-left: 8%;
   margin: 0px;
   padding-top: 100px;
   padding-bottom: 100px;
   
}
.count1{
  color: #8056ae;
}
.count2{
  color: #5dd64f;
}
.count3{
  color: #75bcfa;
}
.count4{
  color: #fa9f87;
}
.countdown{
  width: 100%;
}
.countdown-segment{
  position: relative;
  background-color: white;
  border-radius: 30%;
  display: inline-block;
  margin-right: 6%;
  font-size: 48px;
  text-align: center;
  padding-top: 23px;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.06);
  width: 15%;
  height: 120px;
  font-family: "Poppins",ExtraBold;
}
.countdown-segment-caption{
  font-size: 22px;
  font-family: "Poppins",Regular;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: rgba(112, 112, 112, 0.69);
}
.countdown-segment-nb{
    padding-bottom: 0px;
    font-weight: 800;
    padding-top: 10%;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
}
.descreption{
  width: 90%;
} 
.lefthero{
  position: relative;
}
.date-desc{
  font-family: Poppins;
  font-size: 36px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #793498;
}
.international-desc{
  font-family: Poppins;
  font-size: 80px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  padding-top: 10px;
  padding-bottom: 10px;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}
.desc-desc{
  font-family: Poppins;
  font-size: 20px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.35;
  letter-spacing: normal;
  text-align: left;
  color: #4e4e4e;
}
.countdown-desc{
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 4.4;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}
.booknow{
  position: absolute;
  background-color: #5dd64f;
  border-radius: 50%;
  color: white;
  height: 150px;
  width: 150px;
  right:25%;
  vertical-align: middle;
  top:500px;
  padding: 60px 0;
  line-height: 25px;
  font-size: 22px;
  font-family: "Poppins",Medium;
  text-align: center;
}
.imagehero{
  width: 70%;
  z-index: 1;
  margin-left: 5%;
  margin-top: -120px;
}
.lefthero{
  width: 60%;
  z-index: 1;
}
.lines{
  padding: 0px;
  margin: 0px;
  position: absolute;
  width: 100%;
  top: 0px;
  right: 0px;
  height: 900px;
  overflow: hidden;
}
.line1{
  position: absolute;
  height: 900px;
  overflow: hidden;
  top: 300px;
}
.line2{
  margin-left: 5%;
  overflow: hidden;
  top: 0px;
  transform: rotate(230deg);
}
@media only screen and (max-width:1131px){
  .booknow{
    top:250px;
    right: 200px;
    height: 70px;
    width: 70px;
    padding-top: 10px;
    font-size: 18px;
  }
  .line1{
    position: absolute;
    height: 450px;
    overflow: hidden;
  }
  .lefthero{
    width: 65%;
  }
  .imagehero{
  width: 50%;
}
  .countdown{
    width: 120%;
  }
  .date-desc{
     font-size: 18px;
  }
  .countdown-segment{
    height: 100px;
  }
  .countdown-segment-caption{
    font-size: 14px;
  }
  .countdown-segment-nb{
    font-size: 28px;
  }
  .international-desc{
     font-size: 56px; 
  } 
  .desc-desc{
     font-size: 14px;
  }
  .countdown-desc{
    font-size: 18px;
  }
}

@media only screen and (max-width:939px){
  .lefthero{
    width: 70%;
  }
  .imagehero{
  width: 50%;
  }
  .booknow{
    top:200px;
    right: 150px;
    height: 70px;
    width: 70px;
    padding-top: 10px;
    font-size: 18px;
  }
  .countdown{
     width: 150%;
  }
  .date-desc{
     font-size: 15px; 
  }
  .countdown-segment-caption{
     font-size: 13px; 
  }
  .international-desc{
     font-size: 48px; 
  } 
  .desc-desc{
     font-size: 12px; 
  }
  .countdown-desc{
     font-size: 15px;
  }
}
@media only screen and (max-width:760px){
  .homesection{
    position: static;
    height: 800px;
  }
  .imagehero{
    position: absolute;
    top:620px;
    right: 200px;
    max-width: 600px;
  }
  .booknow{
    position: absolute;
    right: 50%;
    top:52%;
  }
  .lefthero{
    width: 100%;
  }
  .countdown{
     width: 100%;
  }
  .countdown-segment{
    margin-right: 3%;
    width: 13%;
    height: 80px;
    padding-top: 15px;
  }
  .date-desc{
     font-size: 15px; 
  }
  .countdown-segment-caption{
     font-size: 12px; 
  }
  .countdown-segment-nb{
     font-size: 24px;
  }
  .international-desc{
     font-size: 42px; 
  } 
  .desc-desc{
     font-size: 11px; 
  }
  .countdown-desc{
     font-size: 13px;
  }
}
@media only screen and (max-width:610px){
  .countdown-segment{
    margin-right: 3%;
    width: 15%;
    height: 80px;
    padding-top: 15px;
  }
  .imagehero{
    position: absolute;
    right: 70px;
    width: 300px;
  }
}
@media only screen and (max-width:400px){
  .homesection{
    position: static;
  }
  .imagehero{
    width: 80%;
    right: 10%;
  }
  .lefthero{
    width: 100%;
  }
  .countdown{
     width: 100%;
  }
  .countdown-segment{
    margin-right: 4%;
    width: 20%;
    height: 80px;
    padding-top: 15px;
  }
  .date-desc{
     font-size: 15px; 
  }
  .countdown-segment-caption{
     font-size: 12px; 
  }
  .countdown-segment-nb{
     font-size: 24px;
  }
  .international-desc{
     font-size: 42px; 
  } 
  .desc-desc{
     font-size: 11px; 
  }
  .countdown-desc{
     font-size: 13px;
  }
}
@media only screen and (max-width:360px){
  .international-desc{
     font-size: 35px; 
  } 
}
@media only screen and (max-width:300px){
  .countdown-segment-nb{
     font-size: 18px;
  }
  .international-desc{
     font-size: 35px; 
  } 
  .desc-desc{
     font-size: 11px; 
  }
  .countdown-desc{
     font-size: 12px;
  }
  .imagehero{
    top: 650px;
    width: 80%;
    right: 10%;
  }
  .booknow{
    right: 50%;
    top:55%;
    height: 70px;
    width: 70px;
    padding-top: 10px;
    font-size: 18px;
  }
}
@media only screen and (max-width:922px){
  .line2{
    display: none;
  }
}
@media only screen and (max-width:1050px){
  .line1{
    top: 365px;
  }
}
@media only screen and (max-width:890px){
  .line1{
    top: 328px;
  }
}
/* Footer Styling  */
.footer2{
  color: white ; 
  font-family: "Poppins",Bold;
  font-weight:500; 
  font-size: 21px;
  color: #ffffff;
  padding:20px 0px 10px 0px;
  background-color:#6a4b82;
  width: 100%;
  text-align: center;
}
.footer_nav2{
text-align: center;
  color:white;
  font-size: 18px ;
}
.socialmedia2{
  display: flex;
  margin: 0 auto;
  width:inherit;
  justify-content: center;
}
.socialmedia2 > a > img{
 width:70px;
 cursor: pointer;

}
.socialmedia2 > a{
  margin: 0 4%;
}
.footerlogo2{
  display: block;
margin-left: auto;
margin-right: auto;
width:150px;

}